{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% if form.errors %}
        <div class="messages">
            <div class="alert alert-warning alert-dismissible" role="alert">
                Your username/email and password didn't match. Please try again
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="alert alert-success alert-dismissible" role="alert">
            你已经登录 【{{ user }}】，请先登出
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>登录</strong></h3>
            </div>
            <div class="panel-body">
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                    <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                        <label for="" class="col-sm-1 control-label">姓名/邮箱</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                        <label for="" class="col-sm-1 control-label">密码</label>
                        {{ form.password }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="登录"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/register/" class="btn btn-default" value="注册">注册</a>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
