{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Meeting_Reports_Project</p>
    </div>
    <a class="col-sm-6 col-md-3" href="/meeting-reports">
        <div class="thumbnail">
            <img src="{% static 'img/test.png' %}" alt="...">
            <div class="caption text-center">
                <h3>Send Meeting Report</h3>
            </div>
        </div>
    </a>
    <a class="col-sm-6 col-md-3" href="/meeting-reports/list">
        <div class="thumbnail">
            <img src="{% static 'img/test.png' %}" alt="...">
            <div class="caption text-center">
                <h3>Meeting Reports List</h3>
            </div>
        </div>
    </a>
{% endblock %}